.nav {
    position: absolute;   /* IMPORTANT */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    background: #3b1926;
}

.nav::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("/images-background/backgrain-background.png");
    background-size: cover;
    background-position: center;

    opacity: 0.20; /* 20% */
    z-index: 0;
}

.nav > * {
    position: relative;
    z-index: 1;
}


.list { /* <ul>*/
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    list-style: none;
    margin-right: 15%;
    flex-wrap: wrap;
}

.list .nav_link {
    display: flex;
    align-items: center;
    gap: 10px;
    transform-origin: left; /* Empêche le décallage des vers la gauche des liens dans le menu burger*/

    color: white;
    text-decoration: none;
    transition: transform 0.2s, color 0.2s;
}

.list .nav_link:hover {
    color: #ff91b6;
    filter: drop-shadow(0 0 6px #e7145a);
    transform: scale(1.05);
}


.insta_icon {
    display: flex; /* flex pour aligner icône + texte éventuel */
    align-items: center;
    gap: 30px;
}

.insta_icon_text {
    display: none; /* texte caché par défaut (grand écran) */
}

.icon {
    display: none;
}


@media screen and (max-width:768px) { /* 900px ou moins */

    /* Burger */
    .burger {
        display : block;
        width: 75px;
    }

    .burger:hover {
        color: #ff91b6;
        transition: 0.3s;
        filter: drop-shadow(0 0 6px #e7145a);
    }

    .list {

        flex-direction: column;
        position: absolute;
        top: 0;
        left: 30%;

        width: 100%;
        height: 100vh;

        background-color: #70435d65;
        backdrop-filter: blur(15px);

        justify-content: center;
        gap: 2px;
        font-size: 20px;

        opacity: 0;
        transform: translateX(200%) translateY(-10px);
        pointer-events: none;

        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .insta_icon_text {
        display: block;   /* texte visible en burger */
    }


    .icon {
        display: block; /* texte visible en burger */
    }

    /* class apparaissant après avoir cliquer sur le menu burger, sorte d'extension de la classe .list*/
    .open {
        display: flex;
        opacity: 1;
        pointer-events: auto;
        transform: translate(0, 0);
    }

    .list li {
        margin-left: 10px;
        margin-right: 10px ;
        background-color: rgba(131, 102, 119, 0.87);
    }

    .list li .nav_link {
        padding:15px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .list li .nav_link:hover {
        color: white;
        filter: drop-shadow(0 0 6px #b94a6f);
    }

    .list li:hover {
        background-color: rgba(160, 122, 144, 0.87);
    }
}