.nav {
    position: absolute;   /* IMPORTANT */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    background: #3b1926;
}

.nav::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("/images-background/backgrain-background.png");
    background-size: cover;
    background-position: center;

    opacity: 0.20; /* 20% */
    z-index: 0;
}

.nav > * {
    position: relative;
    z-index: 1;
}


.list { /* <ul>*/
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    list-style: none;
    margin-right: 15%;
    flex-wrap: wrap;
}

.list a { /* <Link>*/
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.list a:hover {
    color: #ff91b6;
    transition: 0.3s;
    filter: drop-shadow(0 0 6px #e7145a);
}

.item {
    color: white;
    cursor: pointer;
}

.item:hover {
    opacity: 0.6;
}

.instagram {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.icon {
    display: block;
}

.text {
    display: none;
}

/* Instagram*/
.instagram:hover {
    color: #ff91b6;
    transition: 0.3s;
    filter: drop-shadow(0 0 6px #e7145a);
}

.icon {
            display: block;
        }

.icon_text {
    display: none;
}


/* Burger */
.burger {
    display : none;
    width: 75px;
    font-size: 40px;
}

@media screen and (max-width:768px) { /* 900px ou moins */

        .burger {
            display: block;
        }

        .list {

            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100vh;

            background-color: rgba(112, 67, 93, 0.397);
            backdrop-filter: blur(15px);

            justify-content: center;
            gap: 5px;
            font-size: 20px;

            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none;

        }

        /*Instagram*/
        .icon {
            display: none;
        }

        .icon_text {
            display: block;
        }

        .open {
            display: flex;
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        /* Annulation des hover */
        .instagram:hover {
            color: white;
            transition: 0.3s;
            filter: none;
        }

        .list a:hover {
            color: white;
            transition: 0.3s;
            filter: none;
        }

        /* style après clique*/

        .list li {
            margin-left: 10px;
            margin-right: 10px ;
            padding:15px;
            padding-left: 60px;
            background-color: rgba(131, 102, 119, 0.87);
        }

        .list li:hover {
            background-color: rgba(102, 80, 93, 0.87);
        }
}